#'env' -> prod (to use selenium grid) | dev ------ the default is prod
#environment=prod

#chrome-driver-host
#hrome-driver-port

#'android-sdk-path'
#'emulator-id'

#'selenium-gird-host'
#'selenium-gird-port'